{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 9
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": "off"
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
